*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: serif,Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color: black;
    color: aliceblue;

}
#header{
    width: 100vw;
    height: 100vh;
    background-image: url("plant.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.container{
    padding: 10px 10%;
}
nav{display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
    
    
}
.disappear{
    position: relative;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    font-size: 20px
    
    
}

.disappear span{
	display: inline-block;
	color:white;
	text-shadow: 0px 0px 0px rgb(24, 56, 35);
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
/**.disappear span:nth-child(1)
{
	animation-name: disappearleft;
    animation-delay: 1s;
}**/


.disappear span:nth-child(2)
{
	animation-name: disappearleft;
	animation-delay: 1s;
}

.disappear span:nth-child(2)
{
	animation-name: disappearleft;
	animation-delay: 1s;
}

.disappear span:nth-child(3)
{
	animation-name: disappearleft;
	animation-delay: 1s;
}

.disappear span:nth-child(4)
{
	animation-name: disappearright;
	animation-delay: 1s;
}

.disappear span:nth-child(5)
{
	animation-name: disappearright;
	animation-delay: 1s;
}

.disappear span:nth-child(6)
{
	animation-name: disappearright;
	animation-delay: 1s;
}


.disappear span:nth-child(7)
{
	animation-name: disappearright;
	animation-delay: 1s;
}

.disappear span:nth-child(8)
{
	animation-name: disappearright;
	animation-delay: 1s;
}

.disappear span:nth-child(9)
{
	animation-name: disappearright;
	animation-delay: 1s;
}



@keyframes disappearleft{
	50%{
		transform: skew(50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}


@keyframes disappearright{
	50%{
		transform: skew(-50deg) translateY(-200%);
		text-shadow: 0px 0px 50px;
		opacity: 0;
	}
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#dc4357;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}
nav ul li a:hover::after{
    width: 100%;
}
.headertext{
    margin-top: 20%;
    font-size: 30px;
    margin-left: 0;
    
}
.headertext h1{
    font-size: 60px;
    margin-top:20px;
}
.headertext h1 span{
    color:#dc4357;
}
/**about**/
.about{
    padding: 80px 0;
    color: aliceblue;
    background-image: linear-gradient(to right, rgba(152, 218, 141, 0.985), rgba(39, 45, 41, 0.76));

}
.row{display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 100%;
    border-radius: 15%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
   font-size: 60px;
   font-weight: 600; 


}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #dc4357;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:disc;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #dc4357;
    font-size: 25px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/**contact.....................................**/
#contact{
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    background-image: url("plant.webp");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;

    
  }

.contact-left{
    flex-basis: 100%;
}
.contact-left p{
    margin-top: 50px;

}
.contact-left p i{
    color: #dc4357;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    margin-top: 30px;
    display: flex;

}
.social-icon a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
}
.social-icon a i {
    text-decoration: none;
    font-size: 30px; 
    margin-right: 15px;
    color: #dc4357;
    display: inline-block;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #dc4357;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:aliceblue
    
}
.btn:hover{
    background: #dc4357;
}
.btn.btn2{
    display: inline-block;
    color: aliceblue;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: larger;
    font-weight: 600;
    
}